html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.container {
  display: flex;
}

/* Header */

.container--page-header {
  /* justify-content: space-between; */
  padding-top: 46px;
  padding-bottom: 39px;
}

.page-header {
  padding-bottom: 60px;

  background-color: #f2f6f8;
}

.container--header-top {
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-top {
  min-height: 42px;

  background-color: #293449;
}

.main-logo {
  position: relative;

  display: inline-block;
  width: 220px;
  padding-top: 13px;
  padding-bottom: 7px;
  padding-left: 55px;
  padding-right: 56px;

  background-color: #ee3643;
}

.main-logo::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;

  border-bottom: 5px solid #b52933;
}

.main-logo--footer {
  padding-top: 21px;
  padding-right: 41px;
  padding-bottom: 17px;
  padding-left: 41px;
}

.main-logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.main-logo:active {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.search-form {
  display: flex;
  flex-grow: 1;
  min-width: 270px;
}

.search-form__input {
  flex-grow: 1;
  order: 1;
  min-height: 42px;
  padding-left: 0;

  border: none;

  background-color: transparent;
}

.search-form__label {
  display: flex;
  align-items: center;
  padding-left: 17px;
  padding-right: 15px;
}

.search-form__input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-form__input:-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-form__input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-form__input:focus::-webkit-input-placeholder {
  color: #000000;
}

.search-form__input:focus:-moz-placeholder {
  color: #000000;
}

.search-form__input:focus:-ms-input-placeholder {
  color: #000000;
}

.search-form__input:hover,
.search-form__input:hover + .search-form__label {
  background-color: #212a3a;
}

.search-form__input:focus,
.search-form__input:focus + .search-form__label {
  background-color: #ffffff;

  outline: none;
}

.search-form__label path {
  fill: #ffffff;
  opacity: 30%;
}

.search-form__input:hover + .search-form__label path {
  opacity: 100%;
}

.search-form__input:focus + .search-form__label path {
  fill: #ee3643;
  opacity: 100%;
}

.top-menu {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.top-menu__item {
  min-width: 150px;
}

.top-menu__link {
  position: relative;

  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.top-menu__link--bookmarks {
  padding-left: 44px;
}

.top-menu__link--cart {
  padding-left: 49px;
}

.top-menu__link--bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 30%;
}

.top-menu__link--cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 30%;
}

.top-menu__link--bookmarks:hover::before,
.top-menu__link--cart:hover::before {
  opacity: 100%;
}

.top-menu__link--bookmarks:active::before,
.top-menu__link--cart:active::before {
  opacity: 50%;
}

.top-menu__link--bookmarks:hover,
.top-menu__link--cart:hover {
  background-color: #212a3a;
}

.top-menu__link--bookmarks:active,
.top-menu__link--cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.5);
}

.top-menu__link--cart-not-empty {
  background-color: #ee3643;
}

.top-menu__link--order {
  text-align: center;

  background-color: #63a63e;
}

.top-menu__link--order:hover {
  background-color: #5fbb2d;
}

.top-menu__link--order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.top-menu__link--disabled,
.top-menu__link--disabled:hover,
.top-menu__link--disabled:active,
.top-menu__link--disabled:hover::before,
.top-menu__link--disabled:active::before {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  opacity: 30%;

  cursor: default;
}

.page-header__title {
  width: 196.8px;
  margin: 0;
  margin-left: 53px;
  padding-top: 3px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.container--text-center {
  justify-content: center;
  flex-direction: column;
  margin-left: 71px;
}

.page-header__header-phone {
  display: block;

  margin-bottom: 5px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 7px;
  padding-left: 70px;

  font-size: 21px;
  line-height: 21px;
  font-kerning: normal;
  color: #e9292a;

  border: 3px solid #ffffff;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 11px center;
  background-size: 19px;
}

.page-header__header-address {
  margin: 0;
  margin-left: 9px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login-panel {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  width: 300px;
  margin: 0;
  margin-left: 49px;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.login-panel__button {
  display: flex;
  align-items: center;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;

  border: none;
  background-color: #ffffff;
}

.login-panel__button:hover {
  color: #ee3643;
}

.login-panel__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-panel__button--disabled,
.login-panel__button--disabled:hover,
.login-panel__button--disabled:active {
  color: rgba(0, 0, 0, 0.3);
  opacity: 30%;

  cursor: default;
}

.login-panel__button--disabled svg,
.login-panel__button--disabled:hover svg,
.login-panel__button--disabled:active svg {
  fill: #c5c5c5;
}

.login-panel__button--sign-in,
.login-panel__button--sign-up {
  padding-top: 10px;
  padding-bottom: 11px;
}

.login-panel__button--sign-in {
  position: relative;
  margin-right: 9px;
  padding-right: 27px;
  padding-top: 12px;
}

.login-panel__button--sign-in svg {
  margin-left: 14px;
  margin-right: 14px;

  fill: #c5c5c5;
}

.login-panel__button--sign-in:hover svg {
  fill: #32425c;
}

.login-panel__button--sign-in:active svg {
  fill: #c5c5c5;
}

.login-panel__button--sign-up {
  padding-right: 22px;
  padding-left: 24px;
  padding-top: 12px;
}

.login-panel__logout-group {
  display: flex;
  justify-content: space-between;

  background-color: #ffffff;
}

.login-panel__button--logout .login-panel__button-label {
  margin-right: 35px;
  margin-left: 13px;
}

.login-panel__button--logout {
  width: 300px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 10px;

  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.login-panel__button--logout:hover path {
  fill: #32425c;
}

.login-panel__button--logout:active path {
  fill: #c5c5c5;
}

.login-panel__item--account {
  width: 300px;
}

.login-panel__button--orders {
  position: relative;

  margin-left: 19px;
  margin-right: 32px;
}

.login-panel__button--orders::after {
  content: "";

  position: absolute;
  top: calc(50% - 2.5px);
  left: 89px;

  width: 4px;
  height: 5px;

  border-radius: 50%;
  background-color: #32425c;
}

.login-panel__button--orders,
.login-panel__button--account {
  display: inline-block;
  margin-top: 8px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  text-align: center;

  background-color: transparent;
}

.main-menu {
  border-bottom: 5px solid #293449;

  background-color: #32425c;
}

.main-menu__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 35px;

  color: #ffffff;
  text-align: center;

  transition: background-color 0.5s;
}

.main-menu__link:hover {
  background-color: #293449;
}

.main-menu__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-menu__link--disabled,
.main-menu__link--disabled:hover,
.main-menu__link--disabled:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #32425c;
  opacity: 30%;

  cursor: default;
}

.main-menu__link--active {
  background-color: #293449;
}

/* End of Header */

/* Main */

.promo {
  padding-top: 59px;
  padding-bottom: 33px;
}

.container--promo {
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo-cards {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo-cards__item {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.promo-cards__title {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 23px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-cards__button {
  display: inline-block;
  margin-top: 13px;
  margin-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 23px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-cards__button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-cards__button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-cards__button--disabled,
.promo-cards__button--disabled:hover,
.promo-cards__button--disabled:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  opacity: 50%;

  cursor: default;
}

.promo-cards__item--materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-backet.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-cards__item--instruments {
  background-color: #3bbce3;
  background-image: url("../img/icon-drill.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.promo-cards__item--instruments .promo-cards__button {
  padding-right: 26px;
  padding-left: 26px;
}

.promo-cards__item--technics {
  background-color: #dc91d8;
  background-image: url("../img/icon-tractor.svg");
  background-repeat: no-repeat;
  background-position: 191px center;
}

.promo-cards__item--technics .promo-cards__button {
  padding-right: 31px;
  padding-left: 28px;
}

.promo-cards__item--discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 196px center;
}

.promo-cards__item--discounts .promo-cards__button {
  padding-right: 23px;
  padding-left: 21px;
  padding-top: 11px;
  padding-bottom: 10px;
}

.promo-cards__item--delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery-car.svg");
  background-repeat: no-repeat;
  background-position: 191px 33px;
}

.promo-cards__item--delivery .promo-cards__button {
  padding-right: 37px;
  padding-left: 35px;
  padding-top: 11px;
}

.promo-cards__item--side {
  margin-bottom: 0;
}

.promo-cards__item--slider {
  width: 620px;
}

.slider {
  position: relative;

  overflow: hidden;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-list__caprtion {
  position: absolute;

  padding: 24px;
}

.slider-list__item {
  display: none;

  color: #ffffff;
}

@keyframes slide_shown_animation {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
}

.slider-list__item--show {
  display: block;

  animation-name: slide_shown_animation;
  animation-duration: 1s;
}

.slider-list__figure {
  position: relative;

  margin: 0;
  padding: 0;
}

.slider__image {
  display: block;
}

.slider-list__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-list__text {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.slider-list__button {
  position: absolute;
  bottom: 22px;
  left: 25px;

  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-left: 50px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  border-radius: 3px;
  background-color: #ee3643;
}

.slider-list__button:hover {
  background-color: #ca2c37;
}

.slider-list__button:active {
  background-color: #ba2732;
}

.slider-list__button--disabled,
.slider-list__button--disabled:hover,
.slider-list__button--disabled:active {
  color: #ffffff;

  background-color: #7e4549;
  opacity: 80%;

  cursor: default;
}

.slider__markers-list {
  position: absolute;
  bottom: 36px;
  left: calc(50% - 15px);

  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.slider__markers-item {
  margin-right: 10px;
}

.slider__marker-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider__marker-button--active::after {
  content: "";

  position: absolute;

  width: 6px;
  height: 6px;

  border: none;
  border-radius: 50%;
  background-color: #ee3643;
}

.slider__button {
  position: absolute;
  top: calc(50% - 20px);

  width: 22px;
  height: 40px;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider__button--previous {
  left: 25px;

  background-image: url("../img/icon-left.svg");
}

.slider__button--next {
  right: 20px;

  background-image: url("../img/icon-right.svg");
}

.slider__button--previous:hover,
.slider__button--next:hover {
  opacity: 70%;
}

.slider__button--previous:active,
.slider__button--next:active {
  opacity: 30%;
}

.slider__button--previous:disabled,
.slider__button--next:disabled {
  opacity: 20%;
}

.products__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 3px;
  background-color: #f9f5f0;
}

.products__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.products__button {
  display: inline-block;
  margin-right: 24px;
  padding: 10px 55px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  border-radius: 3px;
  background-color: #ee3643;
}

.products__button:hover {
  background-color: #ca2c37;
}

.products__button:active {
  background-color: #ba2732;
}

.products__button--disabled,
.products__button--disabled:hover,
.products__button--disabled:active {
  color: #ffffff;

  background-color: #7e4549;
  opacity: 80%;

  cursor: default;
}

.manufacturers__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 3px;
  background-color: #f9f5f0;
}

.manufacturers__title {
  margin: 0;
  padding: 30px;
  padding-left: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.manufacturers__button {
  display: inline-block;
  margin-right: 24px;
  padding: 10px 69px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  border-radius: 3px;
  background-color: #ee3643;
}

.manufacturers__button:hover {
  background-color: #ca2c37;
}

.manufacturers__button:active {
  background-color: #ba2732;
}

.manufacturers__button--disabled,
.manufacturers__button--disabled:hover,
.manufacturers__button--disabled:active {
  color: #ffffff;

  background-color: #7e4549;
  opacity: 80%;

  cursor: default;
}

.manufacturers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 64px;

  list-style: none;
}

.manufacturers-list__item {
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;

  text-align: center;

  border: 1px solid #e7e7e7;

  transition: box-shadow 0.5s;
}

.manufacturers-list__item:hover,
.manufacturers-list__item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-list__item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-list__item:active .manufacturers-list__image {
  opacity: 30%;
}

.manufacturers-list__image-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.services {
  padding-top: 62px;
  height: 522px;

  background-color: #f4f8f9;
  overflow: hidden;
}

.services__group {
  margin-top: 25px;
  padding-top: 46px;
  min-height: 330px;
}

.services__title {
  margin: 0;
  padding: 0;
  padding-top: 3px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services__text {
  margin: 0;
  margin-top: 25px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-kerning: none;
  line-height: 24px;
}

.services-list {
  position: relative;

  margin: 0;
  padding: 0;
  align-self: flex-start;

  list-style: none;
}

.services-list::after {
  content: "";

  position: absolute;
  top: calc(50% - 139px);
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url("../img/service-shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services-list__button {
  width: 240px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 23px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-align-last: left;
  color: #ffffff;

  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background-color: #32425c;
}

.services-list__button--active {
  border: none;

  color: #32425c;

  background-color: #ffffff;
}

.services-list__button:hover {
  color: #ffffff;

  background-color: #293449;
}

.services-description {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-left: 80px;

  list-style: none;
}

.services-description__item {
  position: relative;

  display: none;
}

@keyframes description-show {
  from {
    transform: translateX(100px);
    opacity: 0%;
  }
  to {
    transform: translateX(0px);
    opacity: 100%;
  }
}

.services-description__item--show {
  display: block;

  animation-name: description-show;
  animation-duration: 0.9s;
}

.services-description__item--delivery {
  padding-bottom: 98px;

  background-image: url("../img/service-delivery-car.png");
  background-repeat: no-repeat;
  background-position: right 23px;
  background-size: 471px 261px;
}

.services-description__item--guarantee {
  padding-bottom: 98px;

  background-image: url("../img/service-guarantee.png");
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 389px 283px;
}

.services-description__item--credit {
  padding-bottom: 98px;

  background-image: url("../img/service-credit.png");
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 465px 285px;
}

.services-description__item--credit .services-description__text {
  margin-bottom: 29px;
}

.services-description__title {
  margin: 0;
  margin-top: -2px;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.services-description__text {
  margin: 0;
  margin-top: 23px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-kerning: none;
  line-height: 24px;
  color: #000000;
}

.services-description__button {
  display: inline-block;
  padding: 14px 44px;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  border-radius: 3px;
  background-color: #ff5357;
}

.container--about-company {
  justify-content: space-between;
  padding-top: 79px;
  padding-bottom: 86px;
}

.about-company {
  width: 540px;
}

.about-company__company-name {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-kerning: none;
  line-height: 24px;
}

.about-company__text--last {
  margin-bottom: 21px;
}

.delivers-list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
}

.delivers-list__item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 36px;

  font-size: 18px;
  line-height: 20px;
}
.delivers-list__item:last-child {
  margin-bottom: 0;
}

.delivers-list__item::before {
  content: "";

  position: absolute;
  left: 0;
  top: calc(50% - 1px);

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.about-company__details-button {
  display: inline-block;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 41px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
  background-color: #ee3643;
}

.about-company__details-button:hover {
  background-color: #ca2c37;
}

.about-company__details-button:active {
  background-color: #ba2732;
}

.main-contacts {
  position: relative;

  width: 300px;
}

.main-contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.main-contacts__text {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-contacts__map-link {
  margin-bottom: 40px;
}

.main-contacts__callback-button {
  position: absolute;
  bottom: 0;

  display: block;
  padding-top: 10px;
  padding-right: 36px;
  padding-bottom: 9px;
  padding-left: 41px;
  width: 100%;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
  background-color: #ee3643;
}

.main-contacts__callback-button:hover {
  background-color: #ca2c37;
}

.main-contacts__callback-button:active {
  background-color: #ba2732;
}

/* End of main */

/* footer */

.container--footer-top {
  justify-content: space-between;
  padding-bottom: 39px;
}

.footer-logo-container {
  width: 350px;
}

.footer-content {
  background-color: #32425c;
}

.footer-address {
  margin: 0;
  margin-top: 31px;
  padding-left: 3px;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-phone {
  color: #f3f7f9;
}

.footer-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 37px;
  padding: 0;
  width: 580px;

  list-style: none;
}

.footer-menu__item {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 34px;
}

.footer-menu__item--first-in-line {
  padding-left: 0;
}

.footer-menu__item--last-in-line {
  padding-right: 0;
}

.footer-menu__link {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #f1f5f7;
}

.footer-menu__link--yellow {
  color: #ffd180;
}

.footer-menu__link:hover,
.footer-menu__link--yellow:hover {
  text-decoration: underline;
}

.footer-menu__link:active,
.footer-menu__link--yellow:active {
  color: rgba(255, 255, 255, 0.5);
}

.container--footer-callback {
  padding-top: 16px;
  padding-bottom: 17px;
}

.footer-callback__copyright {
  margin: 0;
  padding: 0;
  padding-top: 21px;

  font-size: 16px;
  font-kerning: none;
  line-height: 18px;
  color: #ffffff;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 132px;
  margin-left: 162px;
  padding: 0;
  padding-top: 3px;

  list-style: none;
}

.socials__item {
  margin-right: 3px;
}

.socials__link {
  display: block;
  width: 42px;
  height: 42px;

  border-radius: 50%;
  background-color: #212a3a;
}

.socials__link:hover,
.socials__link:active {
  background-color: #ee3643;
}

.socials__link--vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.socials__link--fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.socials__link--inst {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.footer-callback {
  background-color: #293449;
}

.footer-callback__copyright {
  width: 228px;
}

.footer-callback__feedback-text {
  margin: 0;
  margin-left: 116px;
  padding: 0;
  padding-top: 21px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-callback__feedback-link {
  color: #ffd180;
}

.footer-callback__developer {
  margin: 0;
  margin-left: 52px;
  padding: 0;
  padding-top: 21px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-callback__developer-link {
  color: #ffd180;
}

.footer-callback__feedback-link:hover,
.footer-callback__developer-link:hover {
  text-decoration: underline;
}

.footer-callback__feedback-link:active,
.footer-callback__developer-link:active {
  color: #ee3643;
}

/* Modals */

.modal {
  position: relative;

  display: none;

  background-color: #ffffff;
}

@keyframes modal-show-animation {
  from {
    transform: translateY(250px);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes modal-error-animation {
  from {
    background-color: red;
  }
  to {
    background-color: #f4f4f4;
  }
}

.modal--show {
  display: block;

  animation-name: modal-show-animation;
  animation-duration: 0.8s;
}

.modal--error {
  animation-name: modal-error-animation;
  animation-duration: 1s;
}

.modal--contact-us {
  position: fixed;
  left: calc(50% - 310px);
  bottom: 201px;

  width: 620px;

  text-align: center;

  border-top: 7px solid #ff5357;
  background-color: #f4f4f4;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.contact-us-form__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 37px;
  padding-right: 80px;
  padding-left: 80px;

  background-color: #ffffff;
}

.contact-us-form p {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  text-align: left;
}

.contact-us-form p:last-child {
  flex-grow: 1;

  margin-bottom: 0;
}

.contact-us-form__item label {
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.contact-us-form__item input[type="text"],
.contact-us-form__item input[type="email"] {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
}

.contact-us-form__comment {
  padding-top: 12px;
  padding-left: 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
}

.contact-us-form__item input[type="text"],
.contact-us-form__item input[type="email"],
.contact-us-form__comment {
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.contact-us-form__item input[type="text"]:hover,
.contact-us-form__item input[type="email"]:hover,
.contact-us-form__comment:hover {
  border: 2px solid #b5b5b5;
}

.contact-us-form__item input[type="text"]:focus,
.contact-us-form__item input[type="email"]:focus,
.contact-us-form__comment:focus {
  border: 2px solid #ee3643;
}

.contact-us-form__button {
  min-width: 460px;
  margin: 37px 80px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 3px;
  background-color: #ee3643;
}

.contact-us-form__button:hover {
  background-color: #ca2c37;
}

.contact-us-form__button:active {
  background-color: #ba2732;
}

.modal--our-location {
  position: fixed;
  bottom: calc(50% - 223px);
  left: calc(50% - 470px);

  width: 940px;

  line-height: 0;

  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
}

#map {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 446px;
  margin: 0;
  padding: 0;
}

.modal__map-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  font-size: 0;
  line-height: 0;
}

.modal__button--close {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  padding: 0;

  text-align: center;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.modal__button--close::before,
.modal__button--close::after {
  content: "";

  position: absolute;

  height: 4px;
  width: 28px;

  border-radius: 2px;
  background-color: #ee3643;
}

.modal__button--close::before {
  transform: rotate(45deg);
}
.modal__button--close::after {
  transform: rotate(-45deg);
}

.modal__button--close:hover {
  opacity: 80%;
}

.modal__button--close:active {
  opacity: 30%;
}

.modal--add-to-cart {
  position: fixed;
  top: 411px;
  left: calc(50% - 310px);

  width: 620px;
  padding-bottom: 37px;

  text-align: center;

  border-top: 7px solid #ff5357;
  background-color: #f1f1f1;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal--add-to-cart .modal__title {
  margin: 0;
  padding: 0;
  padding-top: 68px;
  padding-bottom: 68px;
  padding-left: 179px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/cart-success-icon.svg");
  background-repeat: no-repeat;
  background-position: 81px center;
  background-size: 66px;
}

.modal__button--finish-order {
  min-width: 220px;
  margin-top: 37px;
  margin-right: 20px;
  padding-top: 14px;
  padding-right: 62px;
  padding-bottom: 14px;
  padding-left: 59px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  border: none;
  background-color: #ee3643;
}

.modal__button--finish-order:hover {
  background-color: #ca2c37;
}

.modal__button--finish-order:active {
  background-color: #ba2732;
}

.modal__button--continue {
  min-width: 220px;
  margin-top: 37px;
  padding-top: 14px;
  padding-right: 48px;
  padding-bottom: 14px;
  padding-left: 44px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  border: none;
  background-color: #ffffff;
}

.modal__button--continue:hover {
  color: #ee3643;
}

.modal__button--continue:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal__button--finish-order,
.modal__button--continue {
  border-radius: 3px;
}

/* End of Modals */

/* Catalog.html */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-kerning: none;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs__item:not(:first-child) {
  margin-left: 40px;
}

.breadcrumbs__item:not(:first-child)::after {
  content: "";

  position: absolute;
  left: -25px;
  top: 50%;

  width: 8px;
  height: 12px;
  margin-top: -6px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumbs__link {
  color: #000000;
}

.breadcrumbs__link:hover {
  color: #ee3643;
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link--main {
  display: block;
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.product-group__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  border-radius: 3px;
  background-color: #f2f6f8;
}

.container--product-group {
  justify-content: space-between;
}

/* Filters */

.filters {
  width: 220px;
}

.filters-form__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 18px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-kerning: none;
  text-transform: uppercase;
  color: #000000;

  border-radius: 3px;
  background-color: #f7f3ec;
}

.filter-cost {
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-cost__title {
  margin-bottom: 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filter-cost__range {
  margin-bottom: 10px;
  padding-top: 40px;
  padding-bottom: 39px;

  border-radius: 3px;
  background-color: #f7f3ec;
}

.filter-cost__range-wrapper {
  position: relative;

  width: 180px;
  margin: 0 auto;
}

.filter-cost__scale {
  height: 2px;
  margin-left: 10.5px;

  background-color: #d7dcde;
}

.filter-cost__scale--progress {
  width: 142px;
  margin: 0;

  background-color: #00ca74;
}

.filter-cost__cursor {
  position: absolute;
  top: calc(50% - 10.5px);

  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;

  font-size: 0;
  line-height: 0;

  border: none;
  background-color: transparent;
}

.filter-cost__cursor--max {
  left: 140px;
}

.container--cost-values {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.filter-cost__value {
  width: 95px;
  padding-top: 8px;
  padding-bottom: 12px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: none;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.filter-cost__separator {
  width: 10px;
  height: 1px;

  background-color: #444444;
}

.filter-manufacture {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-manufacture__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-top: 16px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-manufacture__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-manufacture__item {
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-manufacture__input {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-manufacture__input:checked + svg.filter-manufacture__checkbox-off {
  display: block;
}

.filter-manufacture__checkbox-on {
  display: none;
}

.filter-manufacture__checkbox-off {
  display: none;
}

.filter-manufacture__label {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 35px;
}

.filter-manufacture__input:checked + .filter-manufacture__label::before {
  content: "";

  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 23px;
}

.filter-manufacture__input + .filter-manufacture__label::before {
  content: "";

  position: absolute;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 23px;

  opacity: 80%;
}

.filter-manufacture__input:hover + .filter-manufacture__label::before {
  opacity: 100%;
}

.filter-manufacture__input:focus + .filter-manufacture__label::before {
  box-shadow: 0 0 1px 2px #4d90fe;
}

.filter-manufacture__input:disabled {
  opacity: 30%;
}

.filter-manufacture__input:disabled + label {
  opacity: 40%;
}

.filter-power-type {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-power-type__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-top: 17px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  font-kerning: none;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-power-type__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-power-type__item {
  margin-bottom: 21px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-power-type__label {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 35px;
}

.filter-power-type__input {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-power-type__input:checked + .filter-power-type__label::before {
  content: "";

  position: absolute;
  left: 0;

  width: 25px;
  height: 25px;

  border: 4px solid #b5b5b5;
  border-radius: 50%;
}

.filter-power-type__input:checked + .filter-power-type__label::after {
  content: "";

  position: absolute;
  left: 8px;

  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: #b5b5b5;
  opacity: 80%;
}

.filter-power-type__input + .filter-power-type__label::before {
  content: "";

  position: absolute;
  left: 0;

  width: 25px;
  height: 25px;

  border: 4px solid #b5b5b5;
  border-radius: 50%;

  opacity: 80%;
}

.filter-power-type__input:hover + .filter-power-type__label::before,
.filter-power-type__input:hover + .filter-power-type__label::after {
  opacity: 100%;
}

.filter-power-type__input:focus + .filter-power-type__label::before {
  box-shadow: 0 0 1px 2px #4d90fe;
}

.filter-power-type__input:disabled {
  opacity: 30%;
}

.filter-power-type__input:disabled + label {
  opacity: 40%;
}

.filters__button {
  margin-top: 56px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 39px;
  padding-left: 38px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.filters__button:hover {
  border-color: #bdc6ca;
}

.filters__button:active {
  border-color: #ee3643;
}

.product-group__products-panel {
  width: 700px;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 3px;
  background-color: #f7f3ec;
}

.sort__title {
  margin: 0;
  margin-left: 19px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__item:nth-child(2) {
  margin-left: 70px;
}

.sort__item:nth-child(3) {
  margin-left: 65px;
}

.sort__item--ascend {
  margin-left: 46px;
  margin-right: 21px;
}

.sort__item--descend {
  margin-right: 17px;
}

.sort__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sort__link:hover {
  border-bottom: 1px solid #ee3643;

  color: #000000;
}

.sort__link--active {
  border: none;

  color: #ee3643;
}

.sort__link--active path {
  fill: #ee3643;
}

.sort__link--ascending,
.sort__link--descending,
.sort__link--ascending:hover,
.sort__link--descending:hover {
  border: none;
}

.sort__link--ascending:hover path,
.sort__link--descending:hover path {
  fill: #000000;
}

.products--catalog {
  padding-bottom: 60px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;
}

.products-list--catalog {
  padding-bottom: 31px;
}

.products-list__item {
  position: relative;

  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;

  border: 1px solid #e4e4e4;

  transition: box-shadow 0.5s;
}

.products-list__item--new::after {
  content: "";

  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-label.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 60px 59px;
}

.products-list__item:hover .products-list__image,
.products-list__item:focus .products-list__image {
  visibility: hidden;
}

.products-list__item:hover,
.products-list__item:focus {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.products-list__item:hover .products-list__button-group,
.products-list__item:focus .products-list__button-group {
  display: block;
}

.products-list__button-group {
  position: absolute;
  left: calc(50% - 67.5px);
  top: 44px;

  display: none;
  margin: 0 auto;
}

.products-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 11px;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 3px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.products-list__button--buy {
  position: relative;

  color: #ffffff;

  box-shadow: 0 3px 0 #367315;
  border-radius: 3px;
  background-color: #63a63e;
}

.products-list__button--buy::before {
  content: "";

  position: absolute;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 30%;
}

.products-list__button--buy:hover {
  background-color: #5fbb2d;
}

.products-list__button--buy:active {
  background-color: #367315;
}

.products-list__button--buy:hover::before,
.products-list__button--buy:active::before {
  opacity: 100%;
}

.products-list__button--to-bookmarks {
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 7px;

  color: #32425c;

  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: #ffffff;
}

.products-list__button--to-bookmarks:hover {
  border-color: #32425c;
}

.products-list__button--to-bookmarks:active {
  opacity: 30%;
}

.products-list__product-title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.products-list__product-name {
  margin: 0;
  padding: 0;
  padding-top: 5px;

  text-align: center;
  color: #000000;
}

.products-list__price {
  display: block;
  width: 141px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-right: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 39px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-image: url(../img/cost-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.products-list__price--old {
  display: block;
  min-height: 18px;
  margin-bottom: 10px;
  padding: 0;

  text-align: center;
  text-decoration: line-through;
  color: #999999;

  background-image: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__link {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 15px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination__link--next {
  width: auto;
  padding-left: 31px;
  padding-right: 31px;
}

.pagination__link:hover {
  border-color: #bdc6ca;
}

.pagination__link:active {
  border-color: #ee3643;
}

.pagination__link--active {
  background-color: #ee3643;

  color: #ffffff;
}

.about-product {
  padding-top: 66px;
  padding-bottom: 69px;

  background-color: #f2f6f8;
}

.about-product__title {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-product__text {
  margin: 0;
  padding: 0;
  padding-top: 25px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-kerning: none;
  line-height: 24px;
}

/* End of Catalog.html */

.is-hidden {
  display: none;
}
